@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Montserrat:wght@500&family=Playfair+Display:wght@800&display=swap');

:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body{
  background: var( --secondary-color: #f5f2fe);
}

h1,
h2,
h3 {
  padding: 10px;
  text-align: center;
  margin: 0;
  display: block;
}

 h1 {
   font-family: font-family: 'Playfair Display', serif;
 }

.bg {
  background: var(--secondary-color);
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--primary-color);
  color: #fff;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}


button:hover {
  color: blue;
}
