@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Montserrat:wght@500&family=Playfair+Display:wght@800&display=swap');

:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

h1,
h2,
p {
  text-align: center;
  margin: 0;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

h1{
  font-size: 96px;
}

 .hero h1 {
   font-family: 'Playfair Display', serif;
   font-weight: bold;
   font-size: 96px;
 }

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}
p {
  font-weight: normal;
}

a{
 background: var(--primary-color);
  text-decoration: none;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}


