@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Montserrat:wght@500&family=Playfair+Display:wght@800&display=swap');

:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

 h1 {
   font-family: 'Playfair Display', serif;
   font-weight: bold;
   font-size: 96px;
 }
p {
  font-weight: normal;
}
.bg {
  background: var(--secondary-color);
}

a{
  align-items: center;
  text-align: center;
  background: var(--primary-color);
  color: white;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
}


